//colors
$primary-color-green: #495e57;
$primary-color-yellow: #f4ce14;
$secondary-color-pink: #ee9972;
$secondary-color-peach: #fbdabb;
$secondary-color-grey: #edefee;
$secondary-color-dark: #333333;
$text-color: #000000;
$secondary-text-color: #f5f5f5;

//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//max-width
$max-width-tablet: 720px;
$max-width-desktop: 1200px;


//padding
$mobile-padding: 16px;
$tablet-padding: 24px;
$desktop-padding: 32px;