@use "./fonts";
@use "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
}

.app-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$breakpoint-tablet) {
    max-width: variables.$max-width-tablet;
    padding: 0 variables.$tablet-padding;
  }

  @media (min-width: variables.$breakpoint-desktop) {
    max-width: variables.$max-width-desktop;
    padding: 0 variables.$desktop-padding;
  }
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 48px;

  @media (min-width: variables.$breakpoint-tablet) {
    font-size: 64px;
  }
}

h2 {
  font-size: 32px;

  @media (min-width: variables.$breakpoint-tablet) {
    font-size: 40px;
  }
}

p {
  text-wrap: pretty;
}