.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    align-items: center;
}

.title {
    text-align: center;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}