@use '../../../../styles/variables';

.card {
    background-color: variables.$secondary-color-grey;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: variables.$mobile-padding;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    font-size: 18px;
    font-weight: 800;
}

.price {
    color: variables.$secondary-color-pink;
}

.description {
    color: variables.$primary-color-green;
}